*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    background-color:bisque;
    line-height: 1.6;
}
header{
    background:linear-gradient(to bottom,rgb(55, 218, 204),white);
    padding:15px 20px ;
    color: white; 
    border: 4px solid black;
    border-radius: 20px;
    height:70px;

}
nav{
    display: flex;
    gap:200px;
    
}
nav a{
    color:black;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s;

}
nav a:hover{
    color:white;
}
section{
    padding:40px;
    max-width: 900px;
    margin:auto;
    background-color:black;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 80px black;
    border:3px solid black;
    font-weight: 500;
    background:linear-gradient(to left top,rgb(0, 123, 113),white);

}
section h1,
section h2{
    margin-bottom: 15px;
    color:#333;
}
.home-title{
    font-size: 40px;
    font-weight: bold;
    color: #222;
}
.home-subtitle{
    font-size: 20px;
    margin-top: 10px;
    color:#666
}
ul{
    margin-top: 10px;
    padding-left: 20px;
}
ul li{
    margin-bottom: 6px;
    font-size: 16px;
}
section h2{
    font-size:xx-large;
}
@media(max-width:768px){
    nav{
        flex-direction: column;
        gap:10px;
    }
    .home-title{
        font-size:28px
    }
    section{
        padding: 20px;
    }
    body{
        background-color: #666;
    }

}